<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Planet.Converter.Currency.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Planet.Converter.Currency.Service.Properties.Settings>
            <setting name="BaseAddressAPI" serializeAs="String">
                <value>http://data.fixer.io/api/latest?access_key=6b06980b7d316e8ae74e0272660b4f77&amp;format=1</value>
            </setting>
        </Planet.Converter.Currency.Service.Properties.Settings>
    </applicationSettings>
</configuration>